.nav {
  position: fixed;
  top: 0;
  display: fixed;
  padding: 2px 0px 0px 10px;
  width: 100%;
}
.nav_black {
  background-color: black;
  opacity: 90%;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav_logo {
  width: 110px;
  object-fit: contain;
}
